* {
	margin: 0;
	padding: 0;
	position: relative;
}

html, body{
	height:100%;
}

.break {
	height:5em;
}

#logo, #logo_image, #mouse_image, #register_text_image, #mc-embedded-subscribe, #mce-EMAIL{
		display:block;
		margin:auto;
}

#register_form{
	margin:auto;
}

#footer{
	width:100%;
	height:100px;
	position:absolute;
	bottom:0px;

	background-image: url("images/FooterImage.png");
	background-repeat: repeat-x;
	background-position: bottom;
}

#mce-EMAIL{
	width:180px;
	background-color:#ddd;
	border:none;
	height:20px;
}

#footerimage{
	margin:auto;
	width:auto;
	height:8em;
}

#mc-embedded-subscribe{
	background:url("images/submitbutton.png");
	background-size: 100%;
	width:50px;
	height:22px;
	border:none;
	margin-top:5px;
}

#mc_embed_signup{
	border-image: url("images/border.png") 10 10 10 10 repeat;
	-moz-border-image: url("images/border.png") 10 10 10 10 repeat;
	-ms-border-image: url("images/border.png") 10 10 10 10 repeat;
	-webkit-border-image: url("images/border.png") 10 10 10 10 repeat;
	-o-border-image: url("images/border.png") 10 10 10 10 repeat;
	border-image-width: 5px 5px 5px 5px;
	border-width:5px;
	padding:5px;
	height:80px;
	width:14em;
	margin:auto;
}

@media (max-width: 420px){
	body{
		min-height: 550px
	}

	#header{
		height:3em;
	}
	#logo{
		background: url("images/LogoComingSoonsmall.png");
		background-size: 18em;
		background-repeat: no-repeat;
		background-position: center;
		width:100%;
		height:8em;
	}
	#logo_image{
		width:0px;
	}
	
	#mouse_image{
		width:6em;
	}

	#footer{
	background-size:25em;
	}

	#register_text_image{
		height: auto;
		width: 9em;
	}
}

@media (min-width: 420px){
	#header{
		height:4em;
	}
	body{
		min-height: 600px
	}

	#logo_image{
		width: 30em;
	}
	
	#mouse_image{
		width:7em;
	}

	#footer{
	background-size:30em;
	}

	#register_text_image{
		height: auto;
		width: 10em;
	}
}

@media (min-width: 768px){
	body{
		min-height: 725px
	}

	#logo_image{
		width: 40em;
	}

	#mouse_image{
		width:8em;
	}

	#footer{
	background-size:35em;
	}

	#register_text_image{
		height: auto;
		width: 13em;
	}
}

@media (min-width: 1280px){
	body{
		min-height: 850px
	}

	#logo_image{
		width: 50em;
	}

	#mouse_image{
			width:9em;
		}

	#footer{
	background-size:40em;
	}

	#register_text_image{
		height: auto;
		width: 15
		em;
	}
}